.container
  .pig.snout
  .pigcover.snout
  .pig.ear
  .pigcover.ear
  .pig.head
  .pig.eye
  %form{:action=>"/", :method=>"POST"}
    %label{:for=>"piglatin"}
      %h2
        What do you want to Pig-Latin-ize?
      %p.lead.muted
        You can enter a word or a phrase. Heck, even a whole paragraph!
    %input{:id=>"name", :type=>"text", :name=>"pig", :placeholder=>"Oink oink"}
    %br
    %button.btn.btn-large{:type=>"submit", :value=>"result"} Ubmitsay

  - if params["pig"]
    .bubble.spout
    .bubblecover.spout
    .bubble.spout2
    .bubblecover.spout2
    .bubble.well.well-large
      %h1
        = params["pig"].pig_latin