!!!
%html
  %head
    %link{:href=>"css/bootstrap.min.css", :type=>"text/css", :rel=>"stylesheet"}
    %link{href:"css/bootstrap-responsive.min.css", type:"text/css", rel:"stylesheet"}
    %link{:href=>"css/custom.css", :type=>"text/css", :rel=>"stylesheet"}
  %body
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  .container-fluid
    =yield

    #share-buttons
     
      <!-- Facebook https://developers.facebook.com/docs/plugins/share-button -->
      <div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div>
       
      <!-- Twitter -->
      %a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", :data=>{:url=>"http://#.com", :via=>"sranso"}}
       
      <!-- Email -->
      %a{:href=>"mailto:?Subject=Pig Latinize Your World&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.#.com"}
        %img{:src=>"http://www.simplesharebuttons.com/images/somacro/email.png", :alt=>"Email"}

    %script{:src=>"/js/bootstrap.min.js"}

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>