body {
  /*background-image: url(http://thetreegarden.files.wordpress.com/2010/10/baby-chicken-duck-on-pig.jpg);*/
  background-blend-mode: screen;
  /*background-color: grey;*/
}
input {
  width: 60%;
  height: 400px;
}
.pig {
  position: absolute;
  right: 0;
  background-color: rgb(255, 192, 203);
}
.pigcover {
  position: absolute;
  right: 0;
  background-color: white;
}
.pig, .pigcover {
  z-index: 1;
}
.pig.snout {
  top: 200px;
  width: 100px;
  height: 60px;
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
  margin-right: 18px;
  border-color: rgb(255, 192, 203);
}
.pigcover.snout {
  top: 85px;
  width: 160px;
  height: 140px;
  border-radius: 140px;
  margin-right: 48px;
}
.head {
  top: 100px;
  width: 200px;
  height: 250px;
  border-radius: 300px;
  margin-right: -125px;
}
.pig.ear {
  top: 60px;
  width: 60px;
  height: 80px;
  border-radius: 20px;
  margin-right: -40px;
  /* this doesn't do what i expected it to do. see http://codepen.io/oknoblich/pen/lhxIz */
  border-style: solid;
  border-width: 10px;
  border-color: transparent;
  border-left-color: rgba(250, 120, 140, 0.8);
}
.pigcover.ear {
  top: 60px;
  width: 60px;
  height: 70px;
  border-radius: 40px;
  margin-right: 11px;
}
.eye {
  background-color: rgba(250, 120, 140, 0.8);
  top: 182px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 25px;
}
.bubble, .bubblecover {
  z-index: -1;
}
.bubble {
  /*background-color: rgba(255, 255, 255, 0.4);*/
  background-color: #ccc;
  position: absolute;
}
.bubblecover {
  /*background-color: rgba(55, 255, 45, 0.4);*/
  background-color: white;
  position: absolute;
}
.bubble.spout {
  height: 700px;
  width: 700px;
  border-radius: 400px;
  right: 20px;
  top: -270px;
}
.bubblecover.spout {
  height: 700px;
  width: 700px;
  border-radius: 700px;
  right: -80px;
  top: -349px;
}
.bubble.spout2 {
  height: 400px;
  width: 400px;
  border-radius: 500px;
  right: 210px;
  top: 10px;
}
.bubblecover.spout2 {
  height: 300px;
  width: 600px;
  right: 210px;
  top: 0;
}
.bubble.holder {
  height: 80%;
  width: 80%;
  border-radius: 80%;
  right: 200px;
  top: 190px;
}
.bubble.well.well-large {
  position: relative;
  width: 80%;
  border-radius: 100px;
}